<!DOCTYPE html>
<html>
<head> 
	<base href="http://localhost:3000/">
    <%- include("./partials/head") -%>
</head>
<body>
	<%- include("./partials/navigation") -%>
    
    <%- include("./partials/coverImg") -%>
	<!-- Book Info -->
	<div class="container">
		<div class="row">
			<!-- First Section -->
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-4">
                        <img src="<%= `https://happinovel.blob.core.windows.net/bookcover/coverImg${book.bookID}.jpg` %>" class="img-fluid" alt="Book Cover">
                    </div>                    
					<div class="col-md-8">
						<h2><%= book.title %></h2>
						<div class="mb-2">
                            <% genresOfBook.forEach(genre => { %>
								<span class="badge badge-primary"><%= genre.genreName %></span>
                            <% }) %>
                        </div>
						<p>Tác giả: <%= book.authorName %></p>
						<p>Tình trạng: 
							<% if (book.status === 0) { %>
								Tạm ngưng
							<% } else if (book.status === 1) { %>
								Đang tiến hành 
							<% } else if (book.status === 2) { %>
								Hoàn thành 
							<% } %>
						</p>						
						<div class="d-flex">
							<a href="#"><i class="far fa-heart mr-2"></i></a>
							<a href="#"><i class="far fa-star mr-2"></i></a>
							<a href="#chapter-list"><i class="fas fa-list mr-2"></i></a>
							<a href="#comments"><i class="far fa-comments"></i></a>
						</div>
					</div>
					
				</div>
				<hr>
			</div>
			<!-- Sidebar -->
			<div class="col-md-4">
				<div class="card">
					<div class="card-header">
						<h4>Author Information</h4>
					</div>
					<div class="card-body">
						<img src="./Image/avatar.png" alt="Author Avatar" class="img-fluid rounded-circle" width="128" height="128">
						<h5 class="mt-3"><%= book.authorName %></h5>
						<p class="mt-2"><%= book.authorBio %></p>
					</div>
				</div>
			</div>
			<!-- Second Section -->
			<div class="col-md-12">
				<h3>Book Summary</h3>
				<p><%= book.summary %></p>
				<a href="https://happinovel.blob.core.windows.net/book/summary<%= book.bookID %>.docx" target="_blank">View Summary</a>
				<hr>
			</div>
			<!-- Third Section -->
			<div class="col-md-12">
				<h3>Volume List</h3>
				<div class="accordion" id="volume-list">
					<% book.volumes.forEach((volume, index) => { %>
						<div class="card">
							<div class="card-header" id="volume<%= index + 1 %>-heading">
								<h5 class="mb-0">
									<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#volume<%= index + 1 %>-collapse" aria-expanded="true" aria-controls="volume<%= index + 1 %>-collapse">
										Volume <%= index + 1 %>: <%= volume.title %>
									</button>
								</h5>
							</div>
							<div id="volume<%= index + 1 %>-collapse" class="collapse <%= index === 0 ? 'show' : '' %>" aria-labelledby="volume<%= index + 1 %>-heading" data-parent="#volume-list">
								<div class="card-body">
									<ul class="list-group" id="chapter-list-volume<%= index + 1 %>">
										<% volume.chapters.forEach((chapter, cIndex) => { %>
											<li class="list-group-item"><a href="#"><%= chapter.title %></a></li>
										<% }) %>
									</ul>
								</div>
							</div>
						</div>
					<% }) %>
				</div>
				<hr>
			</div>
			<!-- Fourth Section -->
			<div class="col-md-12">
				<h3>Comments</h3>
				<!-- Add comments section here using the book.comments data -->
				<hr>
			</div>
			<!-- Add the comment form here -->
	    </div>	
	</div>
</body>
</html>

